# Compiled class file
*.class
*.xsd
build.xml
Generated*.java
platformhome.properties
!src/**/jalo/**/*.java
classes/
gensrc/
idea-module-files/
.idea/
.DS_Store
**/jalo/
jchat-web/

#.prefs
*.prefs

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
addons
gensrc
addonsrc
testclasses
eclipsebin
*testclasses.xml
*.
*_bof.jar
.springBeans
*wro_addons.xml
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

core-customize/bin/custom/addon/*/.gitignore
core-customize/bin/custom/customeraccstorefront/resources/wro_addons.xml
core-customize/bin/custom/customeraccstorefront/web/webroot/cockpit/
core-customize/bin/custom/customeraccstorefront/web/webroot/cmscockpit/
core-customize/bin/custom/customeraccstorefront/web/addonsrc/*
core-customize/bin/custom/customeraccstorefront/web/commonwebsrc/acceleratorstorefrontcommons/*
core-customize/bin/custom/customeraccstorefront/web/webroot/_ui/responsive/theme-alpha/css/style.css
core-customize/bin/custom/customeraccstorefront/web/webroot/_ui/responsive/theme-lambda/css/style.css
core-customize/bin/custom/customerbackoffice/resources/backoffice/customerbackoffice_bof.jar 
core-customize/bin/custom/customerbackoffice/backoffice/resources/rebel.xml
core-customize/bin/custom/customerbackoffice/buildcallbacks.xml


core-customize/bin/custom/customerinitialdata/.classpath
core-customize/bin/custom/customerinitialdata/.externalToolBuilders/HybrisCodeGeneration.launch
core-customize/bin/custom/customerinitialdata/.settings/org.eclipse.core.resources.prefs
core-customize/bin/custom/customerinitialdata/.settings/org.eclipse.jdt.core.prefs


*.iml
/core-customize/bin/custom/jjgppws/web/commonwebsrc
/core-customize/bin/custom/jjgppws/web/webroot/WEB-INF/lib/json-taglib-0.4.1.jar
/core-customize/bin/custom/jjgppws/web/webroot/WEB-INF/lib/jsoup-1.6.1.jar
/core-customize/bin/custom/jjgppws/web/webroot/WEB-INF/lib/jstl-impl-1.2.jar
/core-customize/bin/custom/jjgppws/web/webroot/WEB-INF/lib/owasp-java-html-sanitizer-20160924.1.jar
/core-customize/bin/custom/jjgppws/resources/jjgppws/jjgppws-webtestclasses.xml
/core-customize/bin/custom/customeraccstorefront/web/webroot/_ui/responsive/common/js/acc.autocomplete.js

